body {
    background-color: greenyellow;
}


header {
    background-color: green;
    text-transform: uppercase;
    border-radius: 10px;
    border: 5px solid black; 
    text-align: center; 
}


a {
    color: black;
    border: 4px solid black;
    border-radius: 8px;
    margin: 5px;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none; 
    padding: 5px; 
}
a:hover {
    background-color: greenyellow;
}


img {
    width: 100%; 
    border: 5px solid black;
    border-radius: 10px;
}


section {
    margin-top: 10px;
    padding: 10px; 
    border: 5px solid black;
    border-radius: 15px;
    background-color: green;
}


article {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
}

@media screen and (max-width: 800px) {
    article {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 500px) {
    article {
        grid-template-columns: 1fr;
    }
}